.main-panel {
    padding: 1rem;
    min-width: 30rem;
}

.go-back-and-path-container { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;

    margin-bottom: 2rem;

    padding: 1rem;

    border-bottom: 0.1rem solid black;
}

.path {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 1.3rem;
    font-weight: 400;
}

.item-cards-container {
    height: 80vh;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    overflow:scroll;
}

.item-cards-container::-webkit-scrollbar {
    display: none;
}

.back-button {
    background-color: white;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    border: none;
}

.back-button:hover {
}

.back-button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}