
.side-panel {
    width: 15%;
    min-width:20rem;
    
    padding: 1rem;
    
    border-right: 0.2em solid black;
  
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap:1em;
  }
  
  .upload-button {
    background-color: white;
    padding: 1em;
    border: 0.2em solid black;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .upload-button:hover {
    background-color: #A3E5C4;
    border-color: #0A4028;
  }
  
  
  .logo-container{
    text-align: center;
  }