body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.working-area {
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}
